/* avoid white space on top */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: Roboto, sans-serif;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
 }
canvas{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
/* generic container */
#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
    color: #3c4043;
}

#homeContainer {
    margin-top: 75px;
    text-align: center;
}

#submitBtn {
    color: #fff;
    border: none;
    margin: 0;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background: royalblue; 
   }

/* contains the two col layout */
.flex-container {
    display: flex;
    flex-direction: row;
}
/* left menu */
.flex-left {
    width: 30%;
    height: 100vh;
}
/* right side, content */
.flex-right {
    width: 70%;
    padding-top: 20px;
    padding-left: 75px;
}
/* big card rectangle */
#cardBox {
    color: white;
    background-color: royalblue;
    border-radius: 0px 0px 10px 10px;
    height: 250px;
    position: relative;
}
#cardTitle {
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
/* left menu */
#navMenu {
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}
.navMenuItem {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-radius: 5px;
}
.navMenuItem:hover {
    color: royalblue;
    background-color: rgba(65, 105, 225, 0.15);
}
/* content items */
/* card section properties */
.cardSection {

}
.sectionTitle {
    font-size: larger;
    padding-top: 40px;
    padding-bottom: 30px;
}
.sectionContent {

}
#dagDetails {
    margin-top: 30px;
}
#modelCharts {
    margin-top: 30px;
}
#dagParams {
    margin-top: 50px;
}
details {
    border: 1px solid royalblue;
    border-radius: 4px;
    padding: .5em .5em 0;
    margin-top: 15px;
    font-size: smaller;
}
summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
    color: royalblue;
    background-color: rgba(65, 105, 225, 0.15);
}
/* Table style: from https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.cardTable {
    font-size: smaller;
    border-collapse: collapse;
    margin: 25px 0;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.cardTable thead tr {
    background-color: royalblue;
    color: #ffffff;
    text-align: left;
}
.cardTable th,  .cardTable td {
    padding: 12px 15px;
}
.cardTable tbody tr {
    border-bottom: 1px solid #dddddd;
}
.cardTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.cardTable tbody tr:last-of-type {
    border-bottom: 2px solid royalblue;
}