<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Reclist Explorer</title>
</head>
<body>
    <div id="container">
        <div id="homeContainer">
            <h1>Reclist Explorer</h1>
            <p>Pick a reclist run to start exploring!</p>
            <div align="center">
                <form method="post">
                    <table class="cardTable">
                        <thead><th>Reclist</th><th>Model</th><th>Run #</th><th>Run Time</th><th></th></thead>
                        {% for row in reclist_table %}
                        <tr>
                            <td>{{ row.reclist_name }}</td>
                            <td>{{ row.model_name }}</td>
                            <td>{{ row.run_int }}</td>
                            <td>{{ row.run_time }}</td>
                            <td><input type="checkbox" id="check{{ row.run_int }}" name="check{{ row.run_int }}" value="{{ row.path }}"></td>
                        </tr>
                        {% endfor %}
                    </table>
                    <input type="submit" value="Go!" id="submitBtn">
                </form>
            </div>
        </div>
    </div>
</body>
</html>