<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{{ data.reclist_name }}</title>
</head>
<body>
    <div id="container">
        <!-- this holds the two col layout -->
        <div class="flex-container">
            <!-- this contains the left col, i.e. the title card + menu -->
            <div class="flex-left">
                <div id="cardBox">
                    <div id="cardTitle">
                        <span style="font-size: x-large">{{ data.reclist_name }}</span><br/>
                        <span style="font-size: smaller">Models:<br/> 
                            <ul>
                            {% for m in data.models %}
                               <li>{{ m.model_name }}</li> 
                            {% endfor %}
                            </ul>
                        </span><br/>
                    </div>
                </div>
                <div id="navMenu">
                    <div class="navMenuItem"><a href="#overviewSection">Overview</a></div>
                    <div class="navMenuItem"><a href="#artifactsSection">Artifacts</a></div>
                    <div class="navMenuItem"><a href="#testsSection">Tests</a></div>
                </div>
            </div>
            <!-- this contains the right col, i.e. the actual verbose content -->
            <div class="flex-right">
                <a name="overviewSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">{{ data.reclist_name }}</div>
                    <div class="sectionContent">
                        <div>
                            <p>
                                This report contains the following models tested with <b>{{ data.reclist_name }}</b>:
                            </p>
                            <br /><br />
                            <table class="cardTable">
                                <thead><th>Model Name</th><th>Description</th><th>Runtime</th></thead>
                                {% for m in data.models %}
                                    <tr>
                                        <td>{{ m.model_name }}</td>
                                        <td>{{ m.description }}</td>
                                        <td>{{ m.run_time }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
                <a name="artifactsSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">Artifacts</div>
                    <div class="sectionContent">
                        <table class="cardTable">
                            <thead><th>Name</th><th>Type</th><th>Path</th></thead>
                            {% for a in data.artifacts %}
                                <tr>
                                    <td>{{ a.name }}</td>
                                    <td>{{ a.type }}</td>
                                    <td>{{ a.path }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <a name="testsSection"></a>
                <div class="cardSection">
                    <div class="sectionTitle">Tests</div>
                    <div class="sectionContent">
                        <table class="cardTable">
                            <thead>
                            {% for t in data.result_table.cols %}
                                <th>{{ t }}</th>
                            {% endfor %}
                            </thead>
                            {% for t in data.result_table.rows %}
                                <tr>
                                    {% for td in t %}
                                        <td>{{ td }}</td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </table>
                        <br/><br/><br/>
                        <div id="my_canvas">
                            <canvas id="brand_cosine_distance_canvas" width="800" height="300" ></canvas>
                        </div>
                    </div>
                </div>
            <!-- end of right col-->
            </div>
        <!-- end of flex container-->    
        </div>
    </div>
    <!-- load dictionaries from the builder into JSON objects -->
    <script>
        var REC_CHARTS = {{ data.charts|tojson }};
        console.log(REC_CHARTS);
    </script>
    <!-- load the script responsible for the charts -->
    <script src="{{ url_for('static', filename= 'js/rec_charts.js') }}"></script>
</body>
</html>